.Header {
	height: 60px;
	width: 100vw;
	background-color: rgb(27, 25, 25);
	padding: 0.5rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	i {
		color: #fff;
		font-size: 2rem;
	}

	a {
		text-decoration: none;
	}

	h2 {
		color: rgb(155, 219, 217);
	}
}
