.Banner {
	height: 20vh;
	width: 85vw;
	background-color: #aaa;
	border-radius: 0 8px 8px 0;
	box-shadow: 4px 4px 17px 0px rgba(0, 0, 0, 0.75);
	transition: 0.3s ease-out 0.15s;

	&:active {
		transform: scale(1.05) translateX(8px);
	}
}
